/* Archivo: static/style.css */
.login-page {
    background-image: url("{{ url_for('static', filename='mueble.jpg') }}");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Filtro de opacidad */
.login-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* Estilo del formulario */
.card {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
}

/* Estilo general */
body {
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
h1 {
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Botones */
button,
.btn {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

button:hover,
.btn:hover {
    opacity: 0.9;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-warning {
    background-color: #ffc107;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.introText {
    padding-top: 10px;
    /* Espacio en la parte superior del párrafo */
    padding-bottom: 20px;
    /* Espacio en la parte inferior del párrafo */
}